@page "/"

<a href="/.auth/login/github">GitHub Login</a>
<a href="/.auth/login/twitter">Twitter Login</a>
<a href="/.auth/login/aad">Azure ADLogin</a>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
