@page "/secured"
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@attribute [Authorize(Roles = "admin")]

<h1>Azure Function Test</h1>

<h2>@result</h2>


@code {
    //private test result = new test();
    //test.msg = "temp value";
    private string result = "temp value";

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetStringAsync("https://lively-stone-04362d30f.azurestaticapps.net/api/secured/SecuredTest?name=cloudies");
        result = response.ToString();
    }

    class test{
        public string msg { get; set; }
    }

}
