@page "/secured"
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@attribute [Authorize(Roles = "Admin")]

<h1>Azure Function Test</h1>

<h2>@result</h2>


@code {
    private string result;

    protected override async Task OnInitializedAsync()
    {
        result = await Http.GetFromJsonAsync<string>("api/PublicTest?name=cloudies");
    }

}
